@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

.header {
    margin-bottom: $marginHeader;

        @include tablet {
            margin-bottom: $marginHeader;
        }

        @include desktop {
            margin-bottom: $marginHeaderMedium;
        }

        @include desktopXL {
            margin-bottom: $marginHeaderMedium;
        }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        width: 100%;
        margin-bottom: 25px;
        height: 100px;
        padding: $contentpadding;

            @include tablet {
                margin-bottom: 70px;
                padding: $contentpaddingLarge;
            }

            @include desktop {
                margin-bottom: 85px;
                padding: $contentpaddingLarge;
            }

            @include desktopXL {
                margin-bottom: 85px;
                padding: $contentpaddingLarge;
            }

        &--utility {
            display: flex;
            flex-flow: row nowrap;
        }

        &--logo {
            width: auto;
        }
    }

    &__content {
        display: flex;
        flex-flow: row nowrap;
        padding: $contentpadding;

            @include tablet {
                padding: $contentpaddingLarge;
            }

            @include desktop {
                padding: $contentpaddingLarge;
            }

            @include desktopXL {
                padding: $contentpaddingLarge;
            }

        &--text {
            width: 100%;

            span {
               width: 100%;
            }
        }
    }
}

.splitting__header {

    ::v-deep .headline .word {
            line-height: 0px;
            color: white;
    }

    ::v-deep p {
        font-size: 28px;
        line-height: 45px;
        
                @include tablet {
                    font-size: 45px;
                    line-height: 65px;
                }

                @include desktop {
                    font-size: 55px;
                    line-height: 70px;
                }
                
                @include desktopXL {
                    font-size: 75px;
                    line-height: 95px;
                }

        a {
            color: white;
            text-decoration: none;
        }
    }

    ::v-deep .headline {

        .word {
            // fix for with safari 
            transform: perspective(0);
        }

        .char {
            pointer-events: none;
            font-size: 28px;
            line-height: 45px;

                @include tablet {
                    font-size: 45px;
                    line-height: 65px;
                }

                @include desktop {
                    font-size: 55px;
                    line-height: 70px;
                }
                
                @include desktopXL {
                    font-size: 75px;
                    line-height: 95px;
                }
            }

        &--fall {

            .char {
                animation: fall 600ms 2 calc(var(--char-index) * 0.05s) cubic-bezier(0.165, 0.44, 0.64, 1);
            }
                
            @keyframes fall {
                0% {
                    transform: rotateY(-25deg);
                }
                25% {
                    transform: translateY(2%) rotateY(25deg);
                }
                50% {
                    transform: rotateY(-25deg);
                }
                75% {
                    transform: translateY(4%) rotateY(25deg);
                }
                100% {
                    transform: rotateY(-25deg);
                }
            }
        }   

        &--jump {

            .char {
                animation: jump 800ms 2 calc(var(--char-index) * 0.075s) cubic-bezier(0.165, 0.44, 0.64, 1);
            }
                
            @keyframes jump {
                20% {
                  transform: translateY(2%) scaleY(0.9);
                }
                40% {
                  transform: translateY(-50) scaleY(1.2);
                }
                50% {
                  transform: translateY(10%) scaleY(0.8);
                }
                70% {
                  transform: translateY(-5%) scaleY(1);
                }
                80%, 100% {
                  transform: translateY(0) scaleY(1);
                }
            }
        } 

        &--flip {

            .char {
                animation: flip 4000ms 1 calc(var(--char-index) * 0.075s) cubic-bezier(0.165, 0.44, 0.64, 1);
            }
                
            @keyframes flip {
                5% {
                  transform: rotateX(1turn);
                }
                10% {
                  transform: rotateX(2turn);
                }
                20% {
                  transform: rotateX(3turn);
                }
                40% {
                  transform: rotateX(4turn);
                }
                70%, 100% {
                  transform: rotateX(5turn);
                }
            }
        }
        
        &--float {

            .char {
                animation: float 2200ms 2 calc(var(--char-index) * 0.05s) ease-in-out alternate;

                &:nth-child(2n) {
                    animation-name: float-alt;
                }
            }
                
            @keyframes float {
                from {
                  transform: translate(2%, -10%) rotate(-1deg);
                }
                to {
                  transform: translate(-2%, 5%) rotate(3deg);
                }
            }
            
            @keyframes float-alt {
                from {
                  transform: translate(0%, -5%) rotate(-1deg);
                }
                to {
                  transform: translate(2%, 10%) rotate(3deg);
                }
            }
        }

        &--jog {

            .char {
                animation: jog 500ms 2 calc(var(--char-index) * 0.025s) linear;
            }
                
            @keyframes jog {
                0% {
                  transform: translate(0, 0) rotate(5deg);
                }
                25% {
                  transform: translate(5%, -5%) rotate(10deg);
                }
                50% {
                  transform: translate(5%, 0) rotate(15deg);
                }
                75% {
                  transform: translate(10%, -5%) rotate(10deg);
                }
                100% {
                  transform: translate(0, 0) rotate(5deg);
                }
            }
        }
    }

    ::v-deep .headline.isAnimation {
        .char {
            animation-iteration-count: infinite;
        }
    }
}