@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

// ::v-deep selector for individual styling of the accordion (when using scoped styles)
::v-deep .accordion {
     .accordion__body {
        transition: 200ms ease-out;

        .content {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .text__big {
                width: 100%;
                margin-bottom: 1em;
                margin-top: 0.5em;
            }

            .text {
                width: 100%;
                margin-bottom: 1em;

                @include tablet {
                    width: 100%;
                }

                @include desktop {
                    width: 50%;
                    margin-bottom: 0em;
                }

                @include desktopXL {
                    width: 50%;
                    margin-bottom: 0em;
                }
            }

            .image {
                height: auto;
                width: 100%;
                margin-bottom: 2em;

                @include tablet {
                    width: 100%;
                }

                @include desktop {
                    width: 45%;
                }

                @include desktopXL {
                    width: 45%;
                }

                &__img {
                    width: 100%;
                    object-fit: cover;
                    max-height: 450px;
                }
                @include tablet {
                    max-height: 450px;
                }

                @include desktop {
                    width: 550px;
                    max-height: 412.5px;
                }

                @include desktopXL {
                    width: 650px;
                    max-height: 487.5px;
                }
            }
        }
    }
}