@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

.nav {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    @include tablet {
        border-bottom: $border;
    }

    @include desktop {
        border-bottom: $border;
    }

    @include desktopXL {
        border-bottom: $border;
    }

    &__content {
        display: flex;
        flex-flow: row wrap;
        width: 100%;

        &:last-child {
            border-right: none;
        }

        &--text {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: $border;
            border-right: $border;
            width: 50%;
            height: 8vh;

            @include tablet {
                width: 25%;
                border-right: $border;
                border-bottom: none;
                height: 5vh;
            }
        
            @include desktop {
                width: 25%;
                border-right: $border;
                border-bottom: none;
                height: 5vh;
            }
        
            @include desktopXL {
                width: 25%;
                border-right: $border;
                border-bottom: none;
                height: 5vh;
            }

            &:nth-child(2) {
                border-right: none;

                @include tablet {
                    border-right: $border;
                }
            
                @include desktop {
                    border-right: $border;
                }
            
                @include desktopXL {
                    border-right: $border;
                }
            }

            &:last-child {
                border-right: none;
            }
        }
    }
}