@use "assets/css/main/colors" as *;
@use "assets/css/main/typography" as *;

.switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    border: thin solid $black;
    border-radius: 200px;
    margin-left: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.text__menu {
    text-transform: uppercase;
    color: $black;
    text-decoration: none;
    padding-left: 5px;

    &:hover p {
        color: $black;
    }

    p {
        font-size: 15px;
        font-weight: 450;

        &:hover {
            text-decoration: underline;
            color: $black;
        }
    }
    
    &:last-child {
        padding-right: 5px;
    }

    &.nuxt-link-exact-active {
        text-decoration: underline;
    }
}
