@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

.container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    border-bottom: $border;

    &__content {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        border-right: $border;
        border-top: $border;

        @include tablet {
            width: 50%;
            border-bottom: none;

            &:last-child {
                border-right: none;
                border-top: none;
            }
        }
    
        @include desktop {
            width: 50%;
            border-bottom: none;

            &:last-child {
                border-right: none;
                border-top: none;
            }
        }
    
        @include desktopXL {
            width: 50%;
            border-bottom: none;

            &:last-child {
                border-right: none;
                border-top: none;
            }
        }

        &:first-child {
            border-top: none;
        }

        &--title {
            display: flex;
            align-items: center;
            border-bottom: $border;
            padding-left: 24px;
            height: 6.25vh;
        }

        &--text {
            margin: 1em 0em 1em 0em;
            padding-left: 24px;
            min-height: 43.75vh;
        }
    }
}

h3 {
    margin-top: 1em;
}

p {
    margin-bottom: 1.5em;
}