@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

footer {
  margin-top: $marginLarge;

  @include tablet {
        margin-top: $marginXLarge;
    }

    @include desktop {
        margin-top: $marginXXLarge;
    }

    @include desktopXL {
        margin-top: $marginXXLarge;
    }
}

a { 
  color: $white;
}

.container {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  height: auto;
  color: $white;
  background-color: $black;
  justify-content: center;
  border-radius: 20px 20px 0px 0px;
  bottom: 0;

    @include tablet {
        flex-wrap: wrap;
        padding-top: $contentpaddingLarge;
        border-radius: 40px 40px 0px 0px;
    }

    @include desktop {
        flex-flow: column wrap;
        padding-top: $contentpaddingLarge;
        border-radius: 40px 40px 0px 0px;
    }

    @include desktopXL {
        flex-flow: column wrap;
        padding-top: $contentpaddingLarge;
        border-radius: 40px 40px 0px 0px;
    }

  &__top {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1em;

    @include tablet {
        width: 100%;
    }

    @include desktop {
        width: 100%;
    }

    @include desktopXL {
        width: 100%;
    }
  }
}

.contact {
  display: flex;
  width: 70%;
  height: auto;
  flex-flow: column wrap;
  flex-direction: column;
  padding: $contentpadding;

    @include tablet {
        width: 30%;
        padding-left: $contentpaddingLarge;
    }

    @include desktop {
        width: 50%;
        padding-left: $contentpaddingLarge;
    }

    @include desktopXL {
        width: 50%;
        padding-left: $contentpaddingLarge;
    }

  .text__small {
    margin-bottom: 0.5em;
  }
}

.legal {
  display: flex;
  width: 20%;
  height: 5em;
  flex-direction: column;
  padding-top: $contentpadding;
  padding-right: $contentpadding;

  @include tablet {
        order: 3;
        flex-direction: row;
        width: 50%;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: $contentpaddingLarge;
    }

    @include desktop {
        order: 3;
        flex-direction: row;
        width: 50%;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: $contentpaddingLarge;
    }

    @include desktopXL {
        order: 3;
        flex-direction: row;
        width: 50%;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: $contentpaddingLarge;
    }

  .text__small {
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
}

.text__footer {
  grid-column: span 2;
  margin-bottom: 0.5em;

    @include tablet {
        width: 100%;
    }

    @include desktop {
        width: 100%;
    }

    @include desktopXL {
        width: 100%;
    }
}

.standorte {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
  padding: $contentpadding;

    @include tablet {
        width: 70%;
    }

    @include desktop {
        width: 50%;
    }

    @include desktopXL {
        width: 50%;
    }
  
  &__item {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0.5em;
  }
}

.parking_lot {
  display: flex;
  justify-content: center;

  @include mobileXS {
      width: 100%;
  }

  @include tablet {
      width: 100%;
  }

  @include desktop {
      width: 100%;
  }

  @include desktopXL {
      width: 100%;
  }
}

.parking_space {
  display: block;
  background-color: $white;
  border-radius: 200px;
  width: 365px;
  height: 50px;
  margin-bottom: 34px;
  align-self: center;

  @include mobileXS {
        align-self: center;
        height: 50px;
        width: 320px;
  }

  @include tablet {
        align-self: center;
        width: 366px;
  }

  @include desktop {
      align-self: center;
      width: 366px;
  }

  @include desktopXL {
      align-self: center;
      width: 366px;
  }
}