@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

.cookie-consent {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 45px;
    background-color: $white;
    border: $border;
    width: 25%;
    left: 0;
    right: 0;
    // animation: pulse 1s ease-in infinite;

    @include tablet {
        flex-flow: row wrap;
        height: 75px;
        margin-right: 0em;
    }

    @include desktop {
        flex-flow: row wrap;
        height: 75px;
        margin-right: 0em;
    }

    @include desktopXL {
        flex-flow: row nowrap;
        height: 75px;
        margin-right: 0em;
    }

    .message__container {
        display: flex;
        align-items: center;
        justify-content: center;
        // border-right: $border;
        height: 100%;
        width: 75%;
    }

    p {
        color: $black;
        font-size: 12px;
        width: 100%;
        text-align: center;

        @include tablet {
            font-size: 14px;
        }

        @include desktop {
            font-size: 14px;
        }

        @include desktopXL {
            font-size: 14px;
        }
    }

    .accept__button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: $border;
        padding: 5px 20px 5px 20px;
        width: 100%;
        cursor: pointer;

        &:hover {
            border: thin solid $blue;

            .accept__text {
                color: $blue;
            }
        }
    }

    .accept__text {
        margin-right: 0em;
        color: $black;
        text-align: center;
    }
}

@keyframes pulse {
        0%, 100% {
            transform: translate(0, 5px)
        }
        50% {
            transform: translate(0, 0)
        }
    }