@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

.contact {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    border-bottom: $border;

    &__content {
        display: flex;
        flex-flow: column wrap;
        justify-content: left;
        width: 100%;

            @include tablet {
                width: 50%;
                border-right: $border;
            }

            @include desktop {
                width: 50%;
                border-right: $border;
            }

            @include desktopXL {
                width: 50%;
                border-right: $border;
            }

            &--title {
                border-bottom: $border;
                padding-left: 24px;
                height: 6.5vh;
            }

            .inside__container {
                display: flex;
                flex-flow: row wrap;
                border-bottom: $border;
            }

            &--button {
                display: flex;
                width: 50%;
                height: 6.5vh;
                align-items: center;
                justify-content: center;
                color: $black;
                border-right: $border;

                &:last-child {
                    border-right: none;
                }

                &:hover {
                    color: $blue;
                    background-color: $white;
                    cursor: pointer;
                }
            }    

            .text__big {
                width: 100%;
                padding-left: 24px;
                padding-bottom: 20px;
                padding-top: 20px;
                border-bottom: $border;

                &:last-child {
                    margin-bottom: 0em;
                    border-bottom: none;
                }
    
                @include tablet {
                    padding-right: 48px;
                }
    
                @include desktop {
                    padding-right: 48px;
                }
    
                @include desktopXL {
                    padding-right: 48px;
                }
            }

            #button.text__big {
                width: 100%;
                margin: 0.5em 0em 0.5em 0em;
                padding-left: 24px;
    
                @include tablet {
                    padding-right: 48px;
                }
    
                @include desktop {
                    padding-right: 48px;
                }
    
                @include desktopXL {
                    padding-right: 48px;
                }

                &:hover {
                    color: $blue;
                }
            }
        }
    

    .map {
        width: 50%;
        padding: 12px;

        ::v-deep iframe {
            width: 100%;
            height: 50vh; 
        }

        @include mobile {
            width: 100%;
            margin: 40px 0;
        }
    }

    .adress {
        
        ::v-deep p {
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
        }
    }
}