/*
Global definitions of typography
*/

@use "main" as *;
@use "breakpoints" as *;
@use "colors" as *;

h1 {
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    font-size: 42px;

    @include mobileXS {
        font-size: 32px;
    }

    @include tablet {
        font-size: 48px;
    }

    @include desktop {
        font-size: 48px;
    }

    @include desktopXL {
        font-size: 48px;
    }
}

h2 {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

h3 {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;

    @include tablet {
        font-size: 35px;
    }

    @include desktop {
            font-size: 40px;
    }

    @include desktopXL {
            font-size: 40px;
    }
}

p, button {
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 26px;
}

.text {
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    // line-height: 26px;
    text-decoration: none;

    &__big {
        font-weight: 400;

        @include tablet {
            font-size: 19px;
            // line-height: 26px;
        }

        @include desktop {
            font-size: 19px;
            // line-height: 31px;
        }

        @include desktopXL {
            font-size: 19px;
            // line-height: 38px;
        }   

        &--black {
            color: $black;
        }

        &--white {
            color: $white;
        }

        &--narrow {
            line-height: 30px;
        }
    }

    &__big > p {
        font-weight: 300;

        @include tablet {
            font-size: 19px;
            line-height: 1.6;
        }

        @include desktop {
            font-size: 19px;
            line-height: 1.6;
        }

        @include desktopXL {
            font-size: 19px;
            line-height: 1.6;
        }
    }
    
    &__big > a {
        font-weight: 300;

        @include tablet {
            font-size: 19px;
            line-height: 1.6;
        }

        @include desktop {
            font-size: 19px;
            line-height: 1.6;
        }

        @include desktopXL {
            font-size: 19px;
            line-height: 1.6;
        }
    }

    &__medium {
        font-size: 18px;
        line-height: 20px;
    }

    &__small {
        font-size: 14px;
        line-height: 20px;
    }

    &__footer {
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
    }

    &__menu {
        font-weight: 300;
        font-size: 15px;
        line-height: auto;
        text-transform: capitalize;
    }
}

span {
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 35px;
    line-height: 45px;

    @include tablet {
        font-size: 45px;
        line-height: 65px;
    }

    @include desktop {
        font-size: 55px;
        line-height: 70px;
    }
    
    @include desktopXL {
        font-size: 55px;
        line-height: 70px;
    } 
}

a {
    font-family: Inter;
    font-weight: 300;
    color: $black;
    text-decoration: none;
}